h2{
    font-family: 'VT323', monospace;
}

h1{
    font-family: 'Share Tech Mono', monospace;
}

p{
    font-family: 'VT323', monospace;
}

a{
    font-family: 'VT323', monospace;
}

